body {
  /* background: #333; */
  font-family: 'Karla', sans-serif;
  color: #000;
  font-weight: 500;
  margin: 0;
}

/* laptops/tablets */
@media only screen and (min-width: 600px) {
  .app-wrapper-wrapper {
    width: 55%;
    max-width: 650px;
    min-width: 350px;
    border: 5px solid #d1e6e7;
    margin: 1.5rem auto;
  }
}

/* phones */
@media only screen and (max-width: 599px) {
  .app-wrapper-wrapper {
    border: 5px solid #d1e6e7;
    /* max-width: 225px; */
    /* max-width: 250px; */
  }
}

.app-wrapper {
  background: #d1e6e7;
  border: 2px solid #750000;
  padding: 2.8rem 1rem 2rem 1rem;
}

.title-wrapper {
  padding-left: .5rem;
}

.title {
  color: #000;
  font-size: 2.5rem;
  font-weight: 800;
  line-height: 1.0;
  margin-top: 0;
  margin-bottom: 0;
}

.red {
  color: #750000;
  text-shadow: 0px 0px 0px #590000;
}

p {
  margin-top: 10px;
}

.generator-wrapper {
  margin: 1.3rem .5rem 0 .5rem;
}

label {
  font-size: .82rem;
}

button {
  color: white;
  background-color: #750000;
  background-image:
    linear-gradient(to top left,
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.2) 30%,
      rgba(0, 0, 0, 0));
  box-shadow:
    inset 2px 2px 3px rgba(255, 255, 255, 0.6),
    inset -2px -2px 3px rgba(0, 0, 0, 0.6);
  font-size: 1rem;
  font-weight: 500;
  width: 170px;
  height: 34px;
  border: none;
  border-radius: .4rem;
  padding: 0 0 2px 0;
}

/* hover isn't working, not sure why */
.button:hover {
  background: rgba(151, 0, 0, .81);
  background-image:
    linear-gradient(to top left,
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.2) 30%,
      rgba(0, 0, 0, 0));
}

.button:active {
  background-color: #7f1d1d;
  box-shadow: 0 4px #666;
  transform: translateY(4px);
}

#char-choice {
  margin-top: .35rem;
}


.passwords-wrapper {
  display: inline-flex;
  flex-wrap: wrap;
  display: none;
  justify-content: center;
  gap: 8%;
}

.password-box {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background: #111;
  font-family: Consolas, 'Segoe UI', Courier, monospace;
  font-size: .9rem;
  height: 34px;
  border-radius: .3rem;
  padding: 0px 18px;
  margin: 0 0 .8rem 0;
}

hr {
  margin: 1.5rem auto;
  width: 95%;
  color: #88888869;
}