body {
  background: #333;
  font-family: 'Karla', sans-serif;
  color: #111;
  font-weight: 500;
  margin: 0;
}

.app-wrapper-wrapper {
  border: 5px solid #d1e6e7;
  width: 55%;
  max-width: 550px;
  min-width: 250px;
  margin: 1.5rem auto;

}

.app-wrapper {
  background: #d1e6e7;
  border: 2px solid #750000;
  padding: 2.8rem 1rem 2rem 1rem;
}

.title-wrapper {
  padding-left: .5rem;
}

.title {
  color: #000;
  font-size: 2.25rem;
  font-weight: 800;
  line-height: 1.0;
  margin-top: 0;
  margin-bottom: 0;
}

.red {
  color: #750000;
  text-shadow: 0px 0px 0px #590000;
}

p {
  margin-top: 10px;
}

.generator-wrapper {
  margin: 1.6rem .5rem 0 .5rem;
}

button {
  background: #750000;
  color: white;
  font-size: 1rem;
  font-weight: 500;
  width: 170px;
  height: 36px;
  border: none;
  border-radius: .4rem;
  padding: 0 0 2px 0;
}

.passwords-wrapper {
  display: inline-flex;
  flex-wrap: wrap;
  display: none;
  justify-content: center;
  gap: 8%;
}

.password-box {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background: #111;
  font-family: Consolas, 'Segoe UI', Courier, monospace;
  font-size: .9rem;
  height: 34px;
  border-radius: .3rem;
  padding: 0px 18px;
  margin: 0 0 1.2rem 0;
}

hr {
  margin: 1.5rem auto;
  width: 95%;
  color: #88888869;
}