body {
  font-family: 'Karla', sans-serif;
  color: #333;
  /* text-shadow: 0px 0px 1px #849B9B; */
  margin: 0;
}

.app-wrapper {
  /* display: flex;
  flex-direction: column;
  align-items: center; */
  /* justify-content: center; */
  background-color: #d1e6e7;
  width: 50%;
  height: 350px;
  padding: 2.5rem 3rem;
  margin: 2rem auto;
}

.left-align-box {}

.generator-wrapper {
  margin-top: 2.5rem;
}

button {
  background: #750000;
  color: #E9EBF8;
  font-size: 1rem;
  font-weight: 500;
  width: 180px;
  height: 46px;
  border: none;
  border-radius: .4rem;
  padding: 2px 3px 3px 3px;
}

.passwords-wrapper {
  /* display: flex; */
  display: none;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
}

.password-box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  color: #E9EBF8;
  font-weight: 500;
  width: 190px;
  height: 38px;
  background: black;
  border-radius: .3rem;
  padding: 2px 3px 3px 3px;
  margin: 0;
}

.title {
  color: #750000;
  font-size: 2.5rem;
  font-weight: 800;
  line-height: 1.0;
  margin-top: 0;
  margin-bottom: 0;
}

.red {
  color: #750000;
  text-shadow: none;
}

hr {
  margin: 1.8rem auto;
  /* width: 98%; */
  color: #E9EBF8;
}